{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container mt-5">
  <h1 class="mb-4">О компании</h1>
<br> <br>
<div class="about_us">
<p>
Группа компаний "MASTER VIDERGOLD" основана в 2014 году в п. Лянгасово., город Киров, Кировская область.
</p>
<p>
Предприятие выпускает продукцию из шпона российской березы: латофлекс (ламели), детали для школьной мебели, одноразовую посуду из шпона и технологическую щепу.
</p>
</p>
Основное производство расположено в посёлке Лянгасово (Кировская область).
</p>
</p>
Продукция  реализуется на российском рынке, также поставки осуществляются в страны ближнего и дальнего зарубежья.
</p>
<p>
Компания отличается высоким уровнем ответственности перед Заказчиком.
</p>
<p>
Руководитель и учредитель группы компаний — Видергольд Эдуард Куртович — лично контролирует качество продукции.
</p>
    </div>
    {% endblock %}