<footer>
    <div class="footer-content">
        <div class="author">
            <p>Created by Ilia Boiarintsev</p>
        </div>
        <div class="social-links">
            <a href="https://t.me/ilia010310" target="_blank"><img src="/media/icons/free-icon-telegram-216514.png" alt="Telegram"></a>
            <a href="https://www.instagram.com/theilyaboyarintsev?igsh=eHg1NWE2YmZuMWNy" target="_blank"><img src="/media/icons/free-icon-instagram-216506.png" alt="Instagram"></a>
            <a href="https://vk.com/id114463941" target="_blank"><img src="/media/icons/free-icon-social-13480377.png" alt="VK"></a>
            <a href="https://www.linkedin.com/in/ilia-boiarintsev-28a3b529a/" target="_blank"><img src="/media/icons/free-icon-linkedin-216508.png" alt="LinkedIn"></a>
            <a href="https://github.com/ilia010310" target="_blank"><img src="/media/icons/icons8-git-48.png" alt="Github"></a>


        </div>
    </div>
</footer>

</body>
</html>