{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>

<div class="container mt-5">
  <h1 class="mb-4">Спасибо!</h1>
   {% if sent %}
        <h2>Заказ принят в обработку, ожидайте</h2>

    {% else %}
    </div>
<div class="container mt-5">
    <div class="form_order">
        <p>
        <h2>Данные покупателя</h2>
        </p>
        <h4>Пожалуйста укажите данные о себе,</h4>
            <h4>они помогут нам сократить время на</h4>
            <h4>обработку и оформление заказа</h4>

        <form method="post" class="form">
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Оформить" class="btn btn-primary mb-3 btn-lg">
        </form>
    </div>



{% endif %}
</div>
{% endblock %}